---
import "../styles/global.css";
import { HoverCardComponent } from "@/components/hovercard-astro";
import { Button } from "@/components/ui/button";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>vinnymarquez.dev</title>
  </head>

  <body class="relative">
    <ul
      class="menu bg-base-200 lg:menu-horizontal rounded-box absolute top-0 right-0 z-99999 invisible xs:invisible sm:invisible
                md:invisible lg:visible"
    >
      <li>
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0
                                011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a href="#contact-me">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Contact Me
        </a>
      </li>
      <li>
        <a href="#projects">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          Projects
        </a>
      </li>
    </ul>
    <div
      class="dock bg-neutral text-neutral-content visible xs:invisible sm:visible md:visible lg:invisible"
    >
      <a
        class="btn bg-black text-white border-black shadow-sm"
        role="button"
        href="/"
      >
        <svg
          class="size-[1.2em]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
            <polyline
              points="1 11 12 2 23 11"
              fill="none"
              stroke="currentColor"
              stroke-miterlimit="10"
              stroke-width="2"></polyline>
            <path
              d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></path>
            <line
              x1="12"
              y1="22"
              x2="12"
              y2="18"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></line>
          </g>
        </svg>
        <span class="dock-label">Home</span>
      </a>
      <!-- <a
        class="btn bg-black text-white border-black shadow-sm"
        role="button"
        href="/blog"
      >
        <svg
          class="size-[1.2em]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
            <polyline
              points="3 14 9 14 9 17 15 17 15 14 21 14"
              fill="none"
              stroke="currentColor"
              stroke-miterlimit="10"
              stroke-width="2"></polyline>
            <rect
              x="3"
              y="3"
              width="18"
              height="18"
              rx="2"
              ry="2"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></rect>
          </g>
        </svg>
        <span class="dock-label">Blog</span>
      </a> -->
      <a
        class="btn bg-black text-white border-black shadow-sm"
        role="button"
        href="/experience"
      >
        <svg
          class="size-[1.2em]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
            <circle
              cx="12"
              cy="12"
              r="3"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></circle>
            <path
              d="m22,13.25v-2.5l-2.318-.966c-.167-.581-.395-1.135-.682-1.654l.954-2.318-1.768-1.768-2.318.954c-.518-.287-1.073-.515-1.654-.682l-.966-2.318h-2.5l-.966,2.318c-.581.167-1.135.395-1.654.682l-2.318-.954-1.768,1.768.954,2.318c-.287.518-.515,1.073-.682,1.654l-2.318.966v2.5l2.318.966c.167.581.395,1.135.682,1.654l-.954,2.318,1.768,1.768,2.318-.954c.518.287,1.073.515,1.654.682l.966,2.318h2.5l.966-2.318c.581-.167,1.135-.395,1.654-.682l2.318.954,1.768-1.768-.954-2.318c.287-.518.515-1.073.682-1.654l2.318-.966Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></path>
          </g>
        </svg>
        <span class="dock-label">Experience</span>
      </a>
      <a
        class="btn bg-black text-white border-black shadow-sm"
        role="button"
        href="/experience"
      >
        <svg
          class="size-[1.2em]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
            <circle
              cx="12"
              cy="12"
              r="3"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></circle>
            <path
              d="m22,13.25v-2.5l-2.318-.966c-.167-.581-.395-1.135-.682-1.654l.954-2.318-1.768-1.768-2.318.954c-.518-.287-1.073-.515-1.654-.682l-.966-2.318h-2.5l-.966,2.318c-.581.167-1.135.395-1.654.682l-2.318-.954-1.768,1.768.954,2.318c-.287.518-.515,1.073-.682,1.654l-2.318.966v2.5l2.318.966c.167.581.395,1.135.682,1.654l-.954,2.318,1.768,1.768,2.318-.954c.518.287,1.073.515,1.654.682l.966,2.318h2.5l.966-2.318c.581-.167,1.135-.395,1.654-.682l2.318.954,1.768-1.768-.954-2.318c.287-.518.515-1.073.682-1.654l2.318-.966Z"
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-miterlimit="10"
              stroke-width="2"></path>
          </g>
        </svg>
        <span class="dock-label">Projects</span>
      </a>
    </div>
    <div id="main" class="relative lg:bg-gray-100 bg-gray-100 h-full">
      <section class="md:flex m-0">
        <div class="md:shrink-0 md:w-[35%] lg:bg-gray-100 bg-gray-100 m-0">
          <div class="flex justify-center">
            <div class="avatar mt-[15%] mb-[10%] lg:pt-[30%] lg:mb-[15%]">
              <div class="mask-radial-at-center">
                <img
                  class="rounded-full w-2xs h-2xs"
                  src="https://raw.githubusercontent.com/t2vi/vinnymarquez.dev.cdn/main/uploads/dp.webp"
                  alt="Default Pic"
                  aria-label="Default Pic"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="px-[7.5%] md:px-[5.5%] lg:pt-[15%] lg:bg-gray-50 bg-gray-100 md:w-[65%] lg:pb-[15%]"
        >
          <h6 class="font-medium text-gray-500 text-lg md:text-4xl">vinny</h6>
          <h2 class="font-bold text-indigo-500 text-lg md:text-6xl uppercase">
            Marquez
          </h2>
          <p class="font-normal text-gray-500 text-md md:text-xl mt-8 mb-16">
            SDET, Automation Test Engineer, Web Developer
          </p>
          <div class="divider"></div>
          <div class="md:flex m-0">
            <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
              <h6 class="font-bold text-gray-500 text-base">Location</h6>
              <HoverCardComponent
                client:load
                btnLabel="Melbourne, AU"
                icon="@/assets/icons/au-flag.png"
                url=""
                header="Melbourne, AU"
                description="Moved via a job opportunity"
                dateDescription="Migrated in 2022"
              />
            </div>
            <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
              <h6 class="font-bold text-gray-500 text-base">Linkedin</h6>
              <HoverCardComponent
                client:load
                btnLabel="@vinnymarquez"
                icon=""
                url="https://www.linkedin.com/in/vinnymarquez/"
                header="Linkedin"
                description="Test"
                dateDescription="Member since 2010"
              />
            </div>
            <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
              <h6 class="font-bold text-gray-500 text-base">Github</h6>
              <HoverCardComponent
                client:load
                btnLabel="@t2vi"
                icon=""
                url="https://www.linkedin.com/in/vinnymarquez/"
                header="@t2vi"
                description="Mostly personal projects, some work related."
                dateDescription="Joined 2010"
              />
            </div>
            <div class="mb-3 md:mb-0 md:shrink-0 md:w-[25%]">
              <h6 class="font-bold text-gray-500 text-base">Email</h6>
              <HoverCardComponent
                client:load
                btnLabel="me@vinnymarquez.dev"
                icon=""
                url="mailto:me@vinnymarquez.dev"
                header=""
                description="Please don't send me spam!"
                dateDescription=""
              />
            </div>
          </div>
        </div>
      </section>
      <section class="lg:flex m-0">
        <div
          class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-200 bg-gray-50 m-0"
        >
          <div
            class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
          >
            <h2 class="font-bold text-base">About Me</h2>
            <div>What I am all about.</div>
          </div>
        </div>
        <div
          class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-100 bg-gray-50 lg:w-[65%] text-gray-500"
        >
          <p>A Filipino working in IT, residing in Melbourne AU.</p>
          <br />
          <p>
            I currently work as a Software Developer in Test / Consultant for
            Planit Testing.
          </p>
          <br />
          <p>
            I have over 12 years of experience in Software Development, and over
            6 years in Automated UI Testing.
          </p>
          <br />
          <p>
            I do music for fun. I am the vocalist and one of the
            composers/producers for the band Tito Science
          </p>
          <br />
          <p>I do cycling, running, and jiujitsu.</p>
        </div>
      </section>
      <section class="lg:flex m-0">
        <div
          class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-100 bg-gray-100 m-0"
        >
          <div
            class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
          >
            <h2 class="font-bold text-base">Experience</h2>
            <div>16 years in IT.</div>
          </div>
        </div>
        <div
          class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-50 bg-gray-100 lg:w-[65%]"
        >
          <ol
            class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400"
          >
            <li class="mb-10 ms-6">
              <span
                class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-1 ring-white
            dark:ring-gray-900 dark:bg-gray-700"
              >
                <img
                  src="https://raw.githubusercontent.com/t2vi/vinnymarquez.dev.cdn/main/uploads/au-flag.webp"
                  alt="Planit Logo"
                  class="h-8 w-8"
                />
              </span>
              <h3 class="font-medium leading-tight">Planit · Melbourne, AU</h3>
              <p class="text-sm">Test Automation Consultant</p>
              <p class="text-sm">2021 - present</p>
            </li>
            <li class="mb-10 ms-6">
              <span
                class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-1 ring-white
            dark:ring-gray-900 dark:bg-gray-700"
              >
                <img
                  src="https://raw.githubusercontent.com/t2vi/vinnymarquez.dev.cdn/main/uploads/au-flag.webp"
                  alt="Planit Logo"
                  class="h-8 w-8"
                />
              </span>
              <h3 class="font-medium leading-tight">Planit · Melbourne, AU</h3>
              <p class="text-sm">Test Automation Consultant</p>
              <p class="text-sm">2021 - present</p>
            </li>
            <li class="mb-10 ms-6">
              <span
                class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-1 ring-white
            dark:ring-gray-900 dark:bg-gray-700"
              >
                <img
                  src="https://raw.githubusercontent.com/t2vi/vinnymarquez.dev.cdn/main/uploads/au-flag.webp"
                  alt="Planit Logo"
                  class="h-8 w-8"
                />
              </span>
              <h3 class="font-medium leading-tight">Planit · Melbourne, AU</h3>
              <p class="text-sm">Test Automation Consultant</p>
              <p class="text-sm">2021 - present</p>
            </li>
          </ol>
          <a class="btn mt-5" href="#contact-me">Contact me for my CV</a>
        </div>
      </section>
      <section class="lg:flex m-0" id="projects">
        <div
          class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-200 bg-gray-50 m-0"
        >
          <div
            class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
          >
            <h2 class="font-bold text-base">Projects</h2>
            <div>Stuff I've been working on.</div>
          </div>
        </div>
        <div
          class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-100 bg-gray-100 lg:w-[65%] text-gray-500"
        >
          <div class="max-w-sm w-full lg:max-w-full lg:flex mb-5">
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              style="background-image: url('https://raw.githubusercontent.com/chuv13/vinnymarquez.dev.cdn/main/uploads/titoscience-hero.webp')"
              title="Woman holding a mug"
            >
            </div>
            <div
              class="border-r border-b border-l border-gray-100 lg:border-l-0 lg:border-t lg:border-gray-100 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <p class="text-sm text-gray-600 flex items-center">Active</p>
                <div class="text-gray-600 font-bold text-xl mb-2">t2vi</div>
                <p class="text-gray-500 text-base">
                  Welcome to my digital playground—a blog where all my passions
                  collide. From hardware hacks and software tinkering, to
                  cycling, jiujitsu, running, and the music that fuels it
                  all—this is where curiosity meets chaos. It’s part tech
                  journal, part training log, part life-in-progress. Dive in,
                  geek out, and maybe get inspired along the way.
                </p>
              </div>
              <div class="flex items-center">
                <div class="join">
                  <div class="badge badge-outline">music</div>
                  <div class="badge badge-outline ml-1">tech</div>
                  <div class="badge badge-outline ml-1">fitness</div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full lg:max-w-full lg:flex mb-5">
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              style="background-image: url('https://raw.githubusercontent.com/chuv13/vinnymarquez.dev.cdn/main/uploads/titoscience-hero.webp')"
              title="Woman holding a mug"
            >
            </div>
            <div
              class="border-r border-b border-l border-gray-100 lg:border-l-0 lg:border-t lg:border-gray-100 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <p class="text-sm text-gray-600 flex items-center">Active</p>
                <div class="text-gray-600 font-bold text-xl mb-2">
                  Tito Science
                </div>
                <p class="text-gray-500 text-base">
                  Tito Science is what happens when middle-aged chaos meets
                  musical ambition. Born from jam sessions, late-night ideas,
                  and way too much caffeine, we mix rock, funk, and a bit of
                  weirdness—because why not? We're not here to chase trends,
                  just good vibes, loud sounds, and the occasional existential
                  crises in odd time.
                </p>
              </div>
              <div class="flex items-center">
                <div class="join">
                  <div class="badge badge-outline">music</div>
                  <div class="badge badge-outline ml-1">band</div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full lg:max-w-full lg:flex mb-5">
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              style="background-image: url('https://raw.githubusercontent.com/chuv13/vinnymarquez.dev.cdn/main/uploads/titoscience-hero.webp')"
              title="Woman holding a mug"
            >
            </div>
            <div
              class="border-r border-b border-l border-gray-100 lg:border-l-0 lg:border-t lg:border-gray-100 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <p class="text-sm text-gray-600 flex items-center">Inactive</p>
                <div class="text-gray-600 font-bold text-xl mb-2">
                  Late Bloomer Cycling
                </div>
                <p class="text-gray-500 text-base">
                  A passion project born on two wheels, our cycling blog was a
                  fun ride with friends across the Philippines—sharing routes,
                  stories, and the occasional crash (mostly ego). It eventually
                  came to a halt when I moved to Australia, but the memories
                  (and saddle sores) live on.
                </p>
              </div>
              <div class="flex items-center">
                <div class="join">
                  <div class="badge badge-outline">music</div>
                  <div class="badge badge-outline ml-1">band</div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full lg:max-w-full lg:flex mb-5">
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              style="background-image: url('https://raw.githubusercontent.com/chuv13/vinnymarquez.dev.cdn/main/uploads/titoscience-hero.webp')"
              title="Woman holding a mug"
            >
            </div>
            <div
              class="border-r border-b border-l border-gray-100 lg:border-l-0 lg:border-t lg:border-gray-100 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <p class="text-sm text-gray-600 flex items-center">Defunct</p>
                <div class="text-gray-600 font-bold text-xl mb-2">
                  Titojutsu
                </div>
                <p class="text-gray-500 text-base">
                  We were a small BJJ clothing store built with passion for the
                  sport and the community. Unfortunately, due to supplier
                  issues, we had to close shop. We’re proud of what we created
                  and grateful for everyone who supported us along the way. Oss!
                  👊
                </p>
              </div>
              <div class="flex items-center">
                <div class="join">
                  <div class="badge badge-outline">sports</div>
                  <div class="badge badge-outline ml-1">fitness</div>
                </div>
              </div>
            </div>
          </div>

          <!-- <a href="/projects/tito-science" class="group">
            <div
              class="card lg:card-side bg-base-100 shadow-xl rounded-none mb-10"
            >
              <figure class="grayscale-0 lg:grayscale group-hover:grayscale-0">
                <img
                  src="https://raw.githubusercontent.com/chuv13/vinnymarquez.dev.cdn/main/uploads/titoscience-hero.webp"
                  alt="Album"
                  class="size-500"
                />
              </figure>
              <div class="card-body">
                <span class="badge absolute top-3 right-3 bg-green-600"></span>
                <h2 class="card-title group-hover:text-indigo-500">
                  Tito Science
                </h2>
                <p>
                  In 2016, what started as a casual conversation between Boyet
                  and myself quickly evolved into the beginnings of something
                  bigger.
                </p>
                <div class="join">
                  <div class="badge badge-outline">music</div>
                  <div class="badge badge-outline ml-1">band</div>
                </div>
              </div>
            </div>
          </a>
          <a href="/projects/late-bloomer-cycling" class="group">
            <div
              class="card lg:card-side bg-base-100 shadow-xl rounded-none mb-10"
            >
              <figure class="grayscale-0 lg:grayscale group-hover:grayscale-0">
                <img
                  src="https://raw.githubusercontent.com/chuv13/vinnymarquez.dev.cdn/main/uploads/latebloomercycling-hero.webp"
                  alt="Album"
                  class="size-500"
                />
              </figure>
              <div class="card-body">
                <span class="badge absolute top-3 right-3 bg-green-600"></span>
                <h2 class="card-title group-hover:text-indigo-500">
                  Late Bloomer Cycling
                </h2>
                <p>
                  In 2016, what started as a casual conversation between Boyet
                  and myself quickly evolved into the beginnings of something
                  bigger.
                </p>
                <div class="join">
                  <div class="badge badge-outline">music</div>
                  <div class="badge badge-outline ml-1">band</div>
                </div>
              </div>
            </div>
          </a> -->
          <!-- <a class="btn mt-5" href="/projects">View all projects</a> -->
        </div>
      </section>
      <section class="lg:flex m-0" id="contact-me">
        <div
          class="px-[7.5%] pb-[5%] lg:shrink-0 lg:w-[35%] lg:pt-[6.5%] lg:pr-[5%] lg:bg-gray-100 bg-gray-50 m-0"
        >
          <div
            class="flex flex-col items-start lg:items-end text-gray-500 lg:pt-0 pt-5"
          >
            <h2 class="font-bold text-base">Contact Me</h2>
            <div>Please don't send me spam.</div>
          </div>
        </div>
        <div
          class="px-[7.5%] pb-[5%] lg:px-[5.5%] lg:pt-[6.5%] lg:bg-gray-50 bg-gray-50 lg:w-[65%]"
        >
          <form
            class="form"
            action="https://formspree.io/f/manyzrbg"
            method="POST"
          >
            <div class="flex flex-col md:flex-row justify-between gap-5">
              <input
                type="email"
                placeholder="Your email address"
                class="input input-bordered w-full px-2 mt-4 py-2 placeholder-gray-300 placeholder-gray-300 focus:outline-none"
                name="email"
              />
            </div>
            <div>
              <textarea
                placeholder="Your Message"
                class="input input-bordered w-full px-2 mt-4 py-2 h-32 placeholder-gray-300 focus:outline-none"
                name="message"></textarea>
            </div>
            <button class="w-full mt-5 btn" type="submit">Submit</button>
          </form>
        </div>
      </section>
    </div>
    <div
      class="bg-gray-200 py-[2%] text-center justify-center text-xs text-neutral-500 border-0"
    >
      <span class="font-semibold">©2025 Vinny Marquez </span> |
      <a href="https://astro.build/" target="_blank">Astro</a>,
      <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>,
      <a href="https://daisyui.com/" target="_blank">DaisyUI</a> on
      <a href="https://www.netlify.com/" target="_blank">Netlify</a>
    </div>
  </body>
</html>
