<div class="bg-gray-200 py-[2%] text-center justify-center text-xs text-neutral-500 border-0">
    <span class="font-semibold">{new Date().getFullYear()} Vinny Marquez </span> |
    <a href="https://astro.build/" target="_blank">Astro</a>,
    <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>,
    <a href="https://daisyui.com/" target="_blank">DaisyUI</a>,
    <a href="https://ui.shadcn.com/" target="_blank">Shadcn</a>,
    <a href="https://pagescms.org/" target="_blank">Pages CMS</a> on
    <a href="https://www.netlify.com/" target="_blank">Netlify</a>
</div>
