---
import "@styles/global.css";
//import Header from '@components/Header.jsx'
//import Footer from '@components/Footer.astro'
// import ThemeSwitcher from '@components/ThemeSwitcher.tsx'
//import { SEO } from 'astro-seo';
import Footer from "@components/footer.astro";
const pathname = Astro.url.pathname;
interface Props {
    title?: string;
    description?: string;
}

const {
    title = "Vinny Marquez | Web Developer",
    description = "Vinny Marquez is a web developer specializing in building exceptional digital experiences.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>vinnymarquez.dev</title>
    </head>

    <body class="relative">
        <ul
            class="menu bg-base-200 lg:menu-horizontal rounded-box absolute top-0 right-0 z-99999 invisible xs:invisible sm:invisible
                md:invisible lg:visible"
        >
            <li>
                <a href="/">
                    <svg
                        class="w-5 h-5 text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
                        ></path>
                    </svg>

                    Home
                </a>
            </li>
            <li>
                <a href="/projects">
                    <svg
                        class="w-5 h-5 text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-width="2"
                            d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                        ></path>
                    </svg>

                    Projects
                </a>
            </li>
            <li>
                <a href="/resume">
                    <svg
                        class="w-5 h-5 text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"
                        ></path>
                    </svg>

                    Resume
                </a>
            </li>
            <li>
                <a href="#contact-me">
                    <svg
                        class="w-5 h-5 text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"
                        ></path>
                    </svg>

                    Contact Me
                </a>
            </li>
        </ul>
        <div
            class="dock bg-neutral text-neutral-content visible xs:invisible sm:visible md:visible lg:invisible"
        >
            <a
                class="btn bg-black text-white border-black shadow-sm"
                role="button"
                href="/"
            >
                <svg
                    class="size-[1.2em]"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <g
                        fill="currentColor"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                    >
                        <polyline
                            points="1 11 12 2 23 11"
                            fill="none"
                            stroke="currentColor"
                            stroke-miterlimit="10"
                            stroke-width="2"></polyline>
                        <path
                            d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></path>
                        <line
                            x1="12"
                            y1="22"
                            x2="12"
                            y2="18"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></line>
                    </g>
                </svg>
                <span class="dock-label">Home</span>
            </a>
            <a
                class="btn bg-black text-white border-black shadow-sm"
                role="button"
                href="/resume"
            >
                <svg
                    class="size-[1.2em]"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <g
                        fill="currentColor"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                    >
                        <polyline
                            points="3 14 9 14 9 17 15 17 15 14 21 14"
                            fill="none"
                            stroke="currentColor"
                            stroke-miterlimit="10"
                            stroke-width="2"></polyline>
                        <rect
                            x="3"
                            y="3"
                            width="18"
                            height="18"
                            rx="2"
                            ry="2"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></rect>
                    </g>
                </svg>
                <span class="dock-label">Resume</span>
            </a>
            <a
                class="btn bg-black text-white border-black shadow-sm"
                role="button"
                href="/resume"
            >
                <svg
                    class="size-[1.2em]"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <g
                        fill="currentColor"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                    >
                        <circle
                            cx="12"
                            cy="12"
                            r="3"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></circle>
                        <path
                            d="m22,13.25v-2.5l-2.318-.966c-.167-.581-.395-1.135-.682-1.654l.954-2.318-1.768-1.768-2.318.954c-.518-.287-1.073-.515-1.654-.682l-.966-2.318h-2.5l-.966,2.318c-.581.167-1.135.395-1.654.682l-2.318-.954-1.768,1.768.954,2.318c-.287.518-.515,1.073-.682,1.654l-2.318.966v2.5l2.318.966c.167.581.395,1.135.682,1.654l-.954,2.318,1.768,1.768,2.318-.954c.518.287,1.073.515,1.654.682l.966,2.318h2.5l.966-2.318c.581-.167,1.135-.395,1.654-.682l2.318.954,1.768-1.768-.954-2.318c.287-.518.515-1.073.682-1.654l2.318-.966Z"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></path>
                    </g>
                </svg>
                <span class="dock-label">Work Experience</span>
            </a>
            <a
                class="btn bg-black text-white border-black shadow-sm"
                role="button"
                href="/resume"
            >
                <svg
                    class="size-[1.2em]"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <g
                        fill="currentColor"
                        stroke-linejoin="miter"
                        stroke-linecap="butt"
                    >
                        <circle
                            cx="12"
                            cy="12"
                            r="3"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></circle>
                        <path
                            d="m22,13.25v-2.5l-2.318-.966c-.167-.581-.395-1.135-.682-1.654l.954-2.318-1.768-1.768-2.318.954c-.518-.287-1.073-.515-1.654-.682l-.966-2.318h-2.5l-.966,2.318c-.581.167-1.135.395-1.654.682l-2.318-.954-1.768,1.768.954,2.318c-.287.518-.515,1.073-.682,1.654l-2.318.966v2.5l2.318.966c.167.581.395,1.135.682,1.654l-.954,2.318,1.768,1.768,2.318-.954c.518.287,1.073.515,1.654.682l.966,2.318h2.5l.966-2.318c.581-.167,1.135-.395,1.654-.682l2.318.954,1.768-1.768-.954-2.318c.287-.518.515-1.073.682-1.654l2.318-.966Z"
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="square"
                            stroke-miterlimit="10"
                            stroke-width="2"></path>
                    </g>
                </svg>
                <span class="dock-label">Projects</span>
            </a>
        </div>
        <slot />
        <Footer />
    </body>
</html>
