---
import '@styles/global.css'
//import Header from '@components/Header.jsx'
//import Footer from '@components/Footer.astro'
// import ThemeSwitcher from '@components/ThemeSwitcher.tsx'
//import { SEO } from 'astro-seo';
const pathname = Astro.url.pathname;
interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'Vinny Marquez | Web Developer',
	description = 'Vinny Marquez is a web developer specializing in building exceptional digital experiences.',
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>vinnymarquez.dev</title>
  </head>

  <body class="relative">
    <slot />
  </body>
</html>